<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="educationElement" id="educationElement">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">St. Cloud State University</h3>
            <div class="subheading mb-3">Bachelor of Science</div>
            <div>Computer Science</div>
			<ul>
				<li>Cum Laude with GPA: 3.44</li>
				<li>Pursued learning more about object-oriented programming with Java and using design patterns.</li>
				<li>Constructed an Oracle database for a project using SQL.</li>
				<li>Developed a Java application for a project provided by Sogeti to give us experience with fulfilling deliverables.</li>
			</ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2012 - May 2015</span>
          </div>
        </div>
		
		<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Anoka-Ramsey Community College</h3>
            <div class="subheading mb-3">Associate of Science</div>
            <div>Computer Science</div>
			<ul>
				<li>Started learning about object-oriented programming using C++ and Java.</li>
				<li>Joined the Computer Science club in 2011 and 2012.</li>
				<li>Assisted writing algorithms for a robot to navigate a maze for a programming competition sponsored by Digikey.</li>
			</ul>			
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2008 - May 2012</span>
          </div>
        </div>


        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Coon Rapids High School</h3>
			<div class="subheading mb-3">High School Diploma</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2004 - May 2008</span>
          </div>
        </div>
      </div>
    </section>
</div>
</body>
</html>
