<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="experienceElement" id="experienceElement">
	<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Software Developer</h3>
            <div class="subheading mb-3">Tata Consultancy Services</div>
			<ul>
				<li>Primarily worked in the Air Lines industry to provide support, development and solutions for Crew Notification, Crew Catering and Reporting applications.</li>
				<li>Developed microservice Spring Batch applications to load file data into the database and exposed views for consumption by other applications.</li>
				<li>Maintained large-scale J2EE batch and UI applications by adding enhancements and resolving defects.</li>
				<li>Developed BIRT Reports using SQL and JavaScript to provide detailed analytics as tables and visualizations.</li>
				<li>Developed and maintained API applications for OpenText/Actuate products.</li>
				<li>Performed administrative duties by being a point of contact for resolving issues and application access.</li> 
				<li>Set up disaster recovery environment with assistance by coordinating with various in-house teams.</li>
				<li>Coordinated with teammates to verify enhancements/fixes of Java applications.</li>
				<li>Documented setup instructions, fixes, known issues, code and test cases.</li>
				<li>Utilized ClearCase and Gitlab for source control.</li>
				<li>Used Udemy as a learning platform to improve technical skills.</li>
			</ul>
		  </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2015 - Present</span>
          </div>
        </div>
      </div>
    </section>
</div>
</body>
</html>
