<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="skillsElement" id="skillsElement">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
		<div class="w-100">
			<h2 class="mb-5">Skills</h2>
			<!--<ul class="a-ul mb-0">-->
			<div id="container1" class="d-inline-block mr-5">
				<ul class="a-ul mb-0">
					<li>Java</li>
					<li>Spring Boot</li>
					<li>Actuate / BIRT Reporting Tools</li>
					<li>Google Web Toolkit (GWT)</li>
					<li>JavaScript / jQuery</li>
					<li>IBM WebSphere</li>
					<li>IBM ClearCase</li>
					<li>Gitlab</li>
					<li>HTML / CSS</li>
					<li>MyBatis</li>
					<li>Fiddler</li>
				</ul>
			</div>
			<div id="container2" class="d-inline-block mr-5">
				<ul class="a-ul mb-0">
					<li>Oracle SQL</li>
					<li>Unix</li>
					<li>Apache Tomcat</li>
					<li>Microsoft Word / Excel</li>
					<li>Visio</li>
					<li>VersionOne</li>
					<li>ServiceNow</li>
					<li>Sharepoint</li>
					<li>Confluence</li>
					<li>SoapUI</li>
					<li>Postman</li>
				</ul>
			</div>
			<br><br>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross-Functional</li>
		  <li>
            <i class="fa-li fa fa-check"></i>
            Support and Maintenance</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </div>			
    </section>

</div>
</body>
</html>
